.stats {
	border: 0;
	width: 100%;
	margin-top: 25px;
}

.stats tbody {
	margin-bottom: 20px;
}

.stats td,
.stats th {
	box-sizing: border-box;
	padding: 0 20px 0 0;
}

.stats td {
	font-size: 3.2rem;
}

.stats th {
	width: 20%;
	padding-top: 12px;
	font-size: 1.1rem;
	font-weight: 300;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;
	color: #646464;
}
