@import "../../shared/variables.css";

.stats {
	border-collapse: collapse;
	width: auto;
	margin: 25px 0 0;
}

.stats td,
.stats th {
	padding: 0;
}

.stats td {
	font-size: 3.2rem;
}

.stats th {
	width: 20%;
	padding-top: 10px;
	font-size: 1.1rem;
	font-weight: 300;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;
	color: var(--color-grey);
}
